*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-search{
    /* position: absolute;
    right: 100px;
    top: 75px; */
    float: right;
}
.result-list {
    position: absolute;
    display: none;
    border-radius: 10px 5px 20px 20px;
    left: 0; 
    top: 60px;
    width: 235px;
    border: 1px solid rgb(244, 244, 244);
    border-top: 0;
    background: #fff;
}

.result-list a {
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
    text-decoration: none;
}

.result-list a:hover {
    background-color: #eee;
}